.nav-container {
    height: 60px;
    display:flex;    
    justify-content: space-between;
    padding: 8px 24px;
    background-color: rgb(66, 62, 62); /* trova il colore giusto*/
    color: white;
}

.group {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.group1>div:first-child {
    font-size: 1.4em;
}

.group1 div:first-child, div:nth-child(2) {
    font-weight: bold;
}

.group1 div:nth-child(3), div:nth-child(4) {
    color: lightgray;
}
.triangle {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;    
    border-top: 4px solid lightgray;  
    /* questa regola css per la freccetta del dropdown l'ho trovata su google
    perché facendo la select con l'html non riuscivo ad integrare 
    la freccetta del menu a tendina con la scritta; così sì*/ 
}

.group1 div:last-child {
    color: gray;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 4px;
}

.input {
    border-radius: 4px;
    min-height: 32px;
}

.button {
    border-radius: 4px;
    border: 1px solid green;
    color: green;
    background-color: transparent;
    min-height: 32px;
}
    
.group2 .button:hover {
    background-color: green;
    color: white;
}

/*
.hamburger-menu {
    display: none;
    
} */

.ham-line {
    
    
    width: 35px;
    height: 2px;
    background-color: beige;
    margin: 6px 0;
}

@media only screen and (min-width: 768px) {
    .hamburger-menu {
      display: none;
    }
}      
@media only screen and (max-width: 768px) {

    .nav-container {
        position: absolute;
        width: 100%
    }
    .hamburger-menu{
      position: absolute;
      background-color: yellowgreen;
      height: 30px;
      border: 3px solid red; 
      padding: 10px 5px;
      margin: 2px;      
      top: 15px;
      left: 120px;
      right: 1px;
      z-index: 1;      

      
    }
    
  }

  